<h1>Crazy Pizza</h1>
<h2>The craziest pizza in town!</h2>
<h2>You are few clicks away from the most delicious pizza!</h2>

<div class="blurb">
    <p>
        The best Margherita, a large Capricciosa or a thin-crust Vegetarian? All the dishes we serve are prepared with ingredients of the highest quality. The history of pizza begins in antiquity, when various ancient cultures produced basic flatbreads with several toppings.
    </p>
    
    <p>The precursor of pizza was probably the focaccia, a flat bread known to the Romans as panis focacius, to which toppings were then added. Modern pizza developed in Naples, when tomato was added to the focaccia in the late 18th century.</p>

    <img src="public/pizza.png" alt="Pizza" />
  
    <p>The word pizza was first documented in 997 A.D. in Gaeta and successively in different parts of Central and Southern Italy. Pizza was mainly eaten in Italy and by emigrants from there. This changed after World War II, when Allied troops stationed in Italy came to enjoy pizza along with other Italian foods.</p>
</div>
<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>