<h1>Crazy Pizza</h1>
<h2>The craziest pizza in town!</h2>
<h2></h2>

<div class="blurb">
    <p>
        <b>You are just a few clicks away from the most delicious pizza!</b>
    </p>
    <p>
        The best Margherita, a large Capricciosa or a thin-crust Vegetarian? All the dishes we serve are prepared with ingredients of the highest quality. The history of pizza begins in antiquity, when various ancient cultures produced basic flatbreads with several toppings. After centuries of enhancements, you can order the best pizza right to your doorstep.
    </p>

    <img src="public/pizza.png" alt="Pizza" height="200px" />
    <img src="public/pizza2.jpg" alt="Pizza" height="200px" />
    <img src="public/pizza4.jpg" alt="Pizza" height="200px" />
</div>
<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>